h1,h2,h3,h4,p{
    margin: 0px;
}

body,.start-button, .answer-number::placeholder {
    font-family: 'IBM Plex Sans Thai';
}

.header {
    display: flex;
    height: 120px;
    margin-top: 20px;
}

.arrow-frame {
    width: 15%;
    height: 120px;
    box-sizing: border-box;
    text-align: center;
}

#arrow-circle {
    background: #2F6690;
    border-radius: 50%;
    width: 60px;
    height: 50%;
    margin: 0 auto;
    text-align: center;
}

.arrow {
    font-family: 'IBM Plex Sans Thai';
    font-size: 35px;
    color: white;
    text-align: center;
    text-decoration: none; 
}

#previous {
    font-family: 'IBM Plex Sans Thai';
    margin: 3% auto;
    text-align: center;
    font-weight: 600;
}

.step-wizard {
    height: 120px;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-wizard-list{
    background: #fff;
    color: #333;
    list-style-type: none;
    border-radius: 10px;
    display: flex;
    padding: 20px 10px;
    position: relative;
    z-index: 10;
}

.step-wizard-item{
    padding: 0 20px;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive:1;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 170px;
    position: relative;
}

.step-wizard-item + .step-wizard-item:after{
    content: "";
    position: absolute;
    left: 0;
    top: 20px;
    background: #6D6D6D;
    width: 100%;
    height: 4px;
    transform: translateX(-50%);
    z-index: -10;
}

.progress-count{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid #6D6D6D;
    background-color: white;
    border-radius: 50%;
    font-size: 30px;
    font-weight: 600;
    margin: 0 auto;
    position: relative;
    z-index:10;
    color: black;
}

.progress-label{
    font-family: 'IBM Plex Sans Thai';
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}

#current {
    border: solid #2F6690;
    color: #2F6690;
}

#prev {
    border: solid #2F6690;
    color: white;
    background-color: #2F6690;
}

.topic {
    font-family: 'IBM Plex Sans Thai';
    font-size: 60px;
    font-weight: 700;
    color: #2F6690;
    height: 100px;
    border-bottom: solid #2F6690 5px;
    width: 70%;
    margin: 20px auto;
}

.warning {
    font-family: 'IBM Plex Sans Thai';
    font-size: 20px;
    font-weight: 400;
    color: #D84727;
    background-color: #FFE4E1;
    height: 35px;
    width: 70%;
    margin: 20px auto;
}

.question-frame {
    font-family: 'IBM Plex Sans Thai';
    width: 70%;
    margin: auto;
}

.question {
    font-size: 25px;
    font-weight: 700;
    margin-top: 30px;
    color: #067AD3;
}

.question-warning {
    font-size: 20px;
    font-weight: 500;
    padding-left: 25px;
    color: #FF0000;
}

.sub-warning {
    font-size: 22px;
    font-weight: 700;
}

.answer-number {
    font-size: 15px;
    font-weight: 400;
    color: #6D6D6D;
    margin-left: 100px;
    height: 25px;
    border-radius: 5px;
    margin-right: 20px;
    border: solid #E6E6E6;
    text-align: center;
    outline: none;
}

.answer-number::placeholder {
    font-family: 'IBM Plex Sans Thai';
    font-size: 15px;
    font-weight: 400;
    border-color: #6D6D6D;
}

h1,h2 {
    margin: 0px;
}

.conj {
    margin-left: 100px;
    font-size: 20px;
    font-weight: 600;
    width: 50px;
}

.break-line {
    display: flex;
    flex-direction: row;
}

.answer-number-2 {
    font-size: 15px;
    font-weight: 400;
    color: #6D6D6D;
    height: 25px;
    border-radius: 5px;
    border: solid #E6E6E6;
    text-align: center;
    margin: 0 auto;
    outline: none;
}

.input-frame {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    align-items: center;
}

.answer-number-2::placeholder {
    font-family: 'IBM Plex Sans Thai';
    font-size: 15px;
    font-weight: 400;
    border-color: #6D6D6D;
}

.unit {
    font-family: 'IBM Plex Sans Thai';
    font-size: 15px;
    font-weight: 400;
    color: #6D6D6D;
}

.answer-number > h1 {
    margin-top: 0px;
    width: 500px;
}

.answer-number > span {
    margin-left: 250px;
}

.question-warning-2 {
    font-size: 20px;
    font-weight: 500;
    padding-left: 25px;
    color: #D8A521;
}

.sub-warning-2 {
    font-size: 22px;
    font-weight: 700;
}

.conj {
    font-size: 20px;
    font-weight: 600;
    color: #6D6D6D;
}

.start-button {
    font-family: 'IBM Plex Sans Thai';
    font-weight: 500;
    font-size: 30px;
    background-color: #067AD3;
    box-sizing: border-box;
    color: white;
    border: solid #067AD3;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    width: 20%;
    height: 60px;
    margin-top: 3%;
    margin-left: 40%;
}

.footer {
    display: flex;
    background:#DEF5FF;
    width: 100%;
    height: 200px;
    margin-top: 3%;
    box-sizing: border-box;
}

.footer-1 {
    width: 60%;
    height : 200px;
}

.footer-2 {
    display: flex;
    width: 100%;
    height : 200px;
    align-items: center;
    justify-content: center;
}

.text-footer {
    width: 100%;
    height : 100px;
    box-sizing: border-box;
}

.ft-1 {
    font-family: 'IBM Plex Sans Thai';
    font-weight: 400;
    color: #2F6690;
    font-size: 20px;
    padding-left: 30px;
}

.logo {
    height: 100px;
    margin-left: 3%;
}