@font-face {
    font-family: FCLamoon;
    src: url("FC Lamoon/FC Lamoon Regular ver 1.00.ttf");
}

@font-face {
    font-family: FCLamoon-Bold;
    src: url("FC Lamoon/FC Lamoon Bold ver 1.00.ttf");
}

h1,h2,h3,h4,p{
    margin: 0px;
}

body,#next-button, .answer-number::placeholder, .answer-number-2::placeholder {
    font-family: 'IBM Plex Sans Thai';
    text-align: center;
}

#rectangle_2 {
    display: flex;
    background:#71D4FF;
    width: 100%;
    height: 100px;
}

.header-text-fr {
    display: flex;
    box-sizing: border-box;
    width: 55%;
    height: 100%;
    align-items: center;
    justify-content: right;
}

#header {
    font-family: FCLamoon;
    font-size: 1.5em;
    font-weight: 500;
    color: white;
    text-shadow: 1px 1px gray;
    text-align: right;
}

#subheader {
    font-family: FCLamoon-Bold;
    font-size: 1.8em;
    font-weight: 400;
    color: #067AD3;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    text-align: right;
}

#header-img-fr{
    display: flex;
    height: 100%;
    justify-content: left;
    align-items: center;
}

#header-img {
    height: 60%;
    align-items: center;
}

.header {
    display: flex;
    width: 100%;
    height: 120px;
    margin-top: 20px;
}

.arrow-frame {
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 60px;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    
}

#arrow-circle {
    margin: 0 auto;
    text-align: center;
}

.arrow {
    display: flex;
    font-size: 2em;
    box-sizing: border-box;
    background-color: #2F6690;
    border: solid #2F6690;
    border-radius: 50%;
    aspect-ratio: 1;
    min-width: 60px;
    max-width: 60px;
    color: white;
    justify-content: center;
    align-items: center;
    text-decoration: none; 
    cursor: pointer;
}

#previous {
    margin: 3% auto;
    text-align: center;
    font-weight: 600;
    color: #2F6690;
}

.step-topic{
    display: grid;
    width: 80%;
    grid-template-columns: 25% 25% 25% 25%;
    box-sizing: border-box;
    color: #ffffff;
}

.topic-circle {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.topic-circle + .topic-circle:after{
    content: "";
    background: #6D6D6D;
    width: 100%;
    height: 4px;
    transform: translateX(-50%) translateY(-500%);
    z-index: -10;
    box-sizing: border-box;
}

.circle {
    display: flex;
    border: solid #6D6D6D;
    border-radius: 50%;
    box-sizing: border-box;
    min-width: 40px;
    max-width: 40px;
    aspect-ratio: 1;
    margin-bottom: 0px;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.topic-list {
    font-size: 0.8em;
    font-weight: 500;
    box-sizing: border-box;
    color: #6D6D6D;
}

#current {
    border: solid #2F6690;
    color: #2F6690;
}

#prev {
    border: solid #2F6690;
    color: #FFFFFF;
    align-items: start;
    background-color: transparent;
    background-color: #2F6690;
}

.topic {
    display: flex;
    font-size: 2em;
    font-weight: 700;
    text-align: left;
    align-items: end;
    color: #2F6690;
    height: 100px;
    border-bottom: solid #2F6690 5px;
    width: 90%;
    margin: 20px auto;
}

.warning {
    display: flex;
    text-align: left;
    align-items: center;
    font-size: 0.8em;
    font-weight: 500;
    color: #D84727;
    background-color: #FFE4E1;
    height: 35px;
    width: 90%;
    margin: 20px auto;
}

.question-frame {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.question {
    font-size: 1em;
    font-weight: 700;
    color: #067AD3;
    box-sizing: border-box;
    text-align: left;
    margin-top: 20px;
}

.question-warning {
    box-sizing: border-box;
    font-size: 0.8em;
    font-weight: 500;
    color: #FF0000;
    text-align: left;
    margin-bottom: 10px;
}

.sub-warning {
    font-size: 1.2em;
    font-weight: 700;
}

.question-warning-2 {
    box-sizing: border-box;
    font-size: 0.8em;
    font-weight: 500;
    color: #D8A521;
    text-align: left;
    margin-bottom: 20px;
}

.sub-warning-2 {
    font-size: 1.2em;
    font-weight: 700;
}

.answer-number {
    text-align: center;
    width: 80%;
    max-width: 200px;
    font-size: 0.8em;
    font-weight: 400;
    height: 2em;
    color: #6D6D6D;
    border-radius: 5px;
    border: solid #E6E6E6;
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    box-sizing: border-box;
}

.answer-number::placeholder {
    display: flex;
    font-size: 1em;
    font-weight: 400;
    border-color: #6D6D6D;
    justify-content: left;
}

#range-warning{
    content: "";
    visibility: hidden;
    box-sizing: border-box;
    width: 100%;
    min-width: 120px;
    max-width: 300px;
    background-color: red;
    color: #fff;
    font-size: 0.8em;
    font-weight: 500;
    text-align: center;
    border-radius: 6px;
    position: relative;
    top: -5px;
    z-index: 1;
    opacity: 0.7;
    margin: 0 auto;
}

#range-warning::after {
    content: "";
    position: relative;
    margin-top: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: red transparent transparent transparent;
    top: 25px;
    left: -40%;
}

.conj {
    font-size: 1em;
    font-weight: 600;
    color: #6D6D6D;
    margin-left: 1em;
}

.unit {
    font-size: 0.8em;
    font-weight: 400;
    color: #6D6D6D;
}

#button-block {
    display: flex;
    width: 100%;
    text-decoration: none;
}

#next-button {
    font-weight: 500;
    font-size: 1em;
    background-color: #067AD3;
    box-sizing: border-box;
    color: white;
    border: solid #067AD3;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    width: 50%;
    max-width: 200px;
    height: 60px;
    margin: 3% auto 3%;
    align-items: center;
}

.footer {
    display: flex;
    background:#DEF5FF;
    width: 100%;
    height: 100px;
    margin-top: 20px;
}

.footer-1 {
    width: 40%;
    height : 100px;
    box-sizing: border-box;
}

.text-footer {
    width: 100%;
    height : 50px;
    box-sizing: border-box;
}

.ft-1 {
    font-weight: 400;
    color: #2F6690;
    font-size: 0.4em;
    text-align: left;
    padding-left: 5px;
}

.footer-2 {
    display: grid;
    grid-template-columns: 30% 30% 30% ;
    box-sizing: border-box;
    height: 100%;
    width: 60%;
    aspect-ratio: 5;
    align-items: center;
    justify-content: center;
}

.logo-grid {
    display: flex;
    max-height: 50px;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.logo {
    width: 90%;
}

@media only screen and (max-width: 320px) {
    #next-button {
        font-size: 1em;
        width: 40%;
    }

    .footer-1 {
        width: fit-content;
    }

    .footer-2 {
        width: 50%;
    }

    .ft-1 {
        font-size: 0.6em;
    }

}

@media only screen and (min-width: 320px) {
    #next-button {
        font-size: 1em;
        width: 40%;
    }

    .footer-1 {
        width: 60%;
    }

    .footer-2 {
        width: 40%;
    }

    .ft-1 {
        font-size: 0.6em;
    }
}

@media only screen and (min-width: 720px) {
    .topic-list {
        font-size: 1em;
    }

    .topic{
        width: 80%;
    }

    .warning{
        width: 80%;
        font-size: 1.2em;
    }

    .question-frame{
        width: 80%;
    }

    .question {
        font-size: 1.5em;
        font-weight: 700;
    }
    
    .question-warning {
        font-size: 1em;
        font-weight: 500;
    }
    
    .sub-warning {
        font-size: 1.2em;
        font-weight: 700;
    }
    
    .question-warning-2 {
        font-size: 1em;
        font-weight: 500;
    }
    
    .sub-warning-2 {
        font-size: 1.2em;
        font-weight: 700;
    }

    .input-block {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        gap: 1em;
    }

    #input-block-sbp {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        gap: 0.3em;
    }
    
    .answer-number {
        width: 90%;
        font-size: 1em;
        font-weight: 400;
        max-width: 200px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .answer-number::placeholder {
        font-size: 1em;
        font-weight: 400;
    }

    .unit {
        font-size: 1em;
        font-weight: 400;
    }
    
    .conj {
        font-size: 1.2em;
        font-weight: 600;
    }

    #range-warning{
        top: 0px;
        margin-left: 20px;
    }

    #range-warning::after {
        top: 25px;
        left: -45%;
    }

    #next-button {
        font-size: 1.3em;
        width: 30%;
    }

    .ft-1 {
        font-size: 0.7em;
    }

    .footer-2 {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
    }

    .logo-grid {
        max-height: 100px;
    }
}

@media only screen and (min-width: 1024px) {
    .arrow-frame{
        width: 15%
    }

    .step-topic{
        width: 70%;
    }

    .topic, .question-frame{
        width: 70%;
    }

    .warning{
        width: 70%;
        font-size: 1.2em;
    }

    .input-block{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        gap: 1em;
    }

    .input-block-inner {
        margin-left: 20px;
    }
    
    .unit{
        text-indent: 1em;
    }

    #input-block-sbp {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        padding-left: 20px;
    }

    #range-warning{
        margin-left: 40px;
    }
    
    #next-button {
        font-size: 1.5em;
        width: 20%;
    }

    .footer-2{
        flex: 1;
        padding-left: 30px;
    }

    .ft-1 {
        font-size: 0.8em;
    }
}