@font-face {
    font-family: FCLamoon;
    src: url("FC Lamoon/FC Lamoon Regular ver 1.00.ttf");
}

@font-face {
    font-family: FCLamoon-Bold;
    src: url("FC Lamoon/FC Lamoon Bold ver 1.00.ttf");
}

h1,h2,h3,h4,p{
    margin: 0px;
}

body,#next-button, .answer-number::placeholder, .answer-number-2::placeholder, .answer-number-alc::placeholder, select{
    font-family: 'IBM Plex Sans Thai';
    text-align: center;
}

#rectangle_2 {
    display: flex;
    background:#71D4FF;
    width: 100%;
    height: 100px;
}

.header-text-fr {
    display: flex;
    box-sizing: border-box;
    width: 55%;
    height: 100%;
    align-items: center;
    justify-content: right;
}

#header {
    font-family: FCLamoon;
    font-size: 1.5em;
    font-weight: 500;
    color: white;
    text-shadow: 1px 1px gray;
    text-align: right;
}

#subheader {
    font-family: FCLamoon-Bold;
    font-size: 1.8em;
    font-weight: 400;
    color: #067AD3;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    text-align: right;
}

#header-img-fr{
    display: flex;
    height: 100%;
    justify-content: left;
    align-items: center;
}

#header-img {
    height: 60%;
    align-items: center;
}

.header {
    display: flex;
    width: 100%;
    height: 120px;
    margin-top: 20px;
}

.arrow-frame {
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 60px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    
}

#arrow-circle {
    margin: 0 auto;
    text-align: center;
}

.arrow {
    display: flex;
    font-size: 2em;
    box-sizing: border-box;
    background-color: #2F6690;
    border: solid #2F6690;
    border-radius: 50%;
    aspect-ratio: 1;
    min-width: 60px;
    max-width: 60px;
    color: white;
    justify-content: center;
    align-items: center;
    text-decoration: none; 
    cursor: pointer;
}

#previous {
    margin: 3% auto;
    text-align: center;
    font-weight: 600;
    color: #2F6690;
}

.step-topic{
    display: grid;
    width: 80%;
    grid-template-columns: 25% 25% 25% 25%;
    box-sizing: border-box;
    color: #ffffff;
}

.topic-circle {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.topic-circle + .topic-circle:after{
    content: "";
    background: #6D6D6D;
    width: 100%;
    height: 4px;
    transform: translateX(-50%) translateY(-500%);
    z-index: -10;
    box-sizing: border-box;
}

.circle {
    display: flex;
    border: solid #6D6D6D;
    border-radius: 50%;
    box-sizing: border-box;
    min-width: 40px;
    max-width: 40px;
    aspect-ratio: 1;
    margin-bottom: 0px;
    background-color: white;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.topic-list {
    font-size: 0.8em;
    font-weight: 500;
    box-sizing: border-box;
    color: #6D6D6D;
}

#current {
    border: solid #06D340;
    color: #FFFFFF;
    background-color: transparent;
    background-color: #06D340;
}

#remark, #remark-2{
    width: 90%;
    margin: 5px auto;
    font-size: 0.8em;
    font-weight: 400;
    color: #6D6D6D;
    text-align: left;
}

.topic {
    display: flex;
    font-size: 2em;
    font-weight: 700;
    text-align: left;
    align-items: end;
    color: #2F6690;
    height: 100px;
    border-bottom: solid #2F6690 5px;
    width: 90%;
    margin: 20px auto;
}

.result-block {
    display: grid;
    width: 90%;
    height: fit-content;
    margin: 20px auto;
}

.result-block-1 {
    box-sizing: border-box;
    width: 100%;
    background-color: #C7EEFF;
    border-radius: 15px;
    box-shadow: 0.2em 0.2em #E6E6E6;
    align-items: center;
}

.result-block-2 {
    display: grid;
    grid-template-columns: 50% 50%;
    box-sizing: border-box;
    width: 100%;
}

.result-block > .result-block-1 {
    height: 450px;
}


.result-block-2 > .result-block-1 {
    margin: 5px 5px 0px 5px;
    width: calc(100% - 10px);
    max-height: 190px;
}


.risk-header {
    box-sizing: border-box;
    background-color: white;
    border-radius: 15px;
    width: 90%;
    height: 100px;
    margin: 10px auto;
    box-shadow: 0.2em 0.2em #E6E6E6;
}

.risk-text {
    font-size: 1.5em;
    font-weight: 600;
    color: #2F6690;
    text-align: center;
}

.risk-text-2 {
    font-size: 1em;
    font-weight: 500;
    color: #2F6690;
    text-align: center;
}

.risk-text-3 {
    font-size: 0.8em;
    font-weight: 500;
    color: #2F6690;
    margin-left: 5px;
    margin-top: 5px;
}

.risk-text-4 {
    margin-top: 5px;
    color: #2F6690;
    font-size: 0.8em;
    font-weight: 500;
    text-align: center;
}

#risk-body {
    box-sizing: border-box;
    height: 70%;
    text-align: left;
    background-image: var(--bg-img);
    background-size: contain;                  
    background-repeat:   no-repeat;
    background-position: center center;
}

.risk-header-2 {
    display: flex;
    box-sizing: border-box;
    background-color: white;
    border-radius: 15px;
    width: 90%;
    margin: 5px auto;
    justify-content: center;
    
}

.risk-header-2 > .risk-text{
    display: flex;
    font-size: 1em;
    font-weight: 700;
}

.risk-pic {
    display: flex;
    max-height: 75px;
    aspect-ratio: 1;
    align-items: center;
    margin: 0 auto;
}

.conclusion {
    display: flex;
    width: 90%;
    margin: 20px auto;
}

.cake {
    box-sizing: border-box;
    width: 30%;
    display: flex;
    justify-content: center;
}

.cake > img {
    width: 70%;
    margin: auto;
}

.conclusion-text-block {
    box-sizing: border-box;
    width: 70%;
}

.conclusion-text {
    box-sizing: border-box;
    color: #2F6690;
    font-size: 1em;
    font-weight: 500;
    text-align: left;
    line-height: 150%;
    text-indent: 1em;
}

.conclusion-text-2 {
    box-sizing: border-box;
    color: #D84727;
    font-size: 1em;
    text-align: left;
    font-weight: 500;
    text-indent: 1em;
}

#total-age-year, #total-age-month {
    color: #067AD3;
    font-size: 1.5em;
    font-weight: 700;
}

#risk-rd {
    color: #D84727;
    font-size: 1em;
    font-weight: 500;
}

.sg-topic {
    width: 90%;
    margin: 60px auto 20px auto;
    color: #D84727;
    font-size: 1.2em;
    font-weight: 700;
    text-align: left;
}

.sg-risk-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-rows: minmax(auto);
    width: 90%;
    margin: 0 auto;
}

.sg-risk-frame {
    box-sizing: border-box;
    border: solid #ffe4e1;
    color: #D84727;
    font-size: 1em;
    font-weight: 700;
    align-items: center;
    justify-items: center;
    text-align: center;
    margin: 10px auto;
    border-radius: 10px;
    border-width: 7px;
    width: 95%;
    max-height: 250px;
}

.sg-risk-pic {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    width: 100%;
    aspect-ratio: 1;
    max-height: 125px;
    margin: 0 auto;
}

.sg-risk-name {
    font-size: 0.8em;
    font-weight: 700;
}

.sg-risk-num {
    font-size: 0.8em;
    margin-top: 5%;
}

.risk-up-age {
    font-size: 0.8em;
    margin: 0 auto;
}

#sg-topic-2 {
    color: #067AD3;
}

#sg-text {
    width: 90%;
    text-align: left;
    margin: 0 auto;
    font-size: 0.8em;
    font-weight: 500;
    color: #067AD3;
    text-indent: 1em;
}

.cp-frame, .cp-frame-2  {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: flex-end;
}

.cp-frame-2  {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: flex-end;
}

#cp {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    margin: 20px auto;
    height: 50px;
    border-radius: 25px;
    background-color: #C7EEFF;
}

.cp-frame::after{
    position: relative;
    content: '';
    display: flex;
    right: 10px;
    top: 35px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #50C878;
}

.cp-frame::before{
    display: flex;
    position: relative;
    content: '';
    border-left: dashed #50C878;
    left: calc(100% - 20px);
    height: 50px;
}

#best-age {
    display: block;
    width: fit-content;
    margin-top: 20px;
    margin-right: 10px;
    box-sizing: border-box;
    text-align: right;
    float: right;
    font-size: 0.8em;
    font-weight: 600;
    color: #50C878;
}


#curr-age {
    box-sizing: border-box;
    width: var(--le-age);
    border-radius: 25px;
    background-color: #71D4FF;
    height: 100%;
}

#curr-age::before{
    position: relative;
    content: '';
    display: block;
    left: calc(100% - 10px);
    top: 15px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #2F6690;
}

#curr-age::after{
    display: flex;
    content: '';
    border-left: dashed #2F6690;
    margin-left: 100%;
    margin-top: 0px;
    height: 50px;
}

#curr-age-text {
    display: block;
    box-sizing: border-box;
    margin-top: 0px;
    margin-left: var(--margin-left-text);
    width: fit-content;
    justify-content: center;
    text-align: right;
    font-size: 0.8em;
    font-weight: 600;
    color: #2F6690;
}

#button-block {
    display: flex;
    width: 100%;
    text-decoration: none;
}

#next-button {
    font-weight: 500;
    font-size: 1em;
    background-color: #067AD3;
    box-sizing: border-box;
    color: white;
    border: solid #067AD3;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    width: 50%;
    max-width: 200px;
    height: 60px;
    margin: 3% auto 3%;
    align-items: center;
}

.footer {
    display: flex;
    background:#DEF5FF;
    width: 100%;
    height: 100px;
    margin-top: 20px;
}

.footer-1 {
    width: 40%;
    height : 100px;
    box-sizing: border-box;
}

.text-footer {
    width: 100%;
    height : 50px;
    box-sizing: border-box;
}

.ft-1 {
    font-weight: 400;
    color: #2F6690;
    font-size: 0.4em;
    text-align: left;
    padding-left: 5px;
}

.footer-2 {
    display: grid;
    grid-template-columns: 30% 30% 30% ;
    box-sizing: border-box;
    height: 100%;
    width: 60%;
    aspect-ratio: 5;
    align-items: center;
    justify-content: center;
}

.logo-grid {
    display: flex;
    max-height: 50px;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.logo {
    width: 90%;
}

@media only screen and (max-width: 320px) {
    #next-button {
        font-size: 1em;
        width: 80%;
    }

    .footer-1 {
        width: fit-content;
    }

    .footer-2 {
        width: 50%;
    }

    .ft-1 {
        font-size: 0.6em;
    }
}

@media only screen and (min-width: 320px) {
    #next-button {
        font-size: 1em;
        width: 70%;
        max-width: 300px;
    }

    .sg-risk-name {
        font-size: 0.7em;
    }

    .sg-risk-num, .risk-up-age {
        font-size: 0.9em;
    }

    .footer-1 {
        width: 60%;
    }

    .footer-2 {
        width: 40%;
    }

    .ft-1 {
        font-size: 0.6em;
    }
}

@media only screen and (min-width: 720px) {
    .topic-list {
        font-size: 1em;
    }

    .topic, #remark, #remark-2{
        width: 80%;
    }

    .result-block {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 80%;
        margin: 0 auto;
    }

    .risk-text {
        font-size: 1.7em;
        font-weight: 600;
    }
    
    .risk-text-2 {
        font-size: 1.2em;
        font-weight: 500;

    }
    
    .risk-text-3, .risk-text-4 {
        font-size: 1em;
        font-weight: 500;
    }

    .risk-header-2 > .risk-text{
        font-size: 1em;
        font-weight: 700;
    }

    .result-block > .result-block-1{
        height: 680px;
        max-height: none;
    }

    .result-block-2 > .result-block-1 {
        height: 220px;
        max-height: none;
        margin: 5px 0px 0px 10px;
    }

    .risk-pic {
        max-height: 100px;
    }

    .risk-body {
        background-size: auto;                  
    }

    .conclusion, .sg-topic, .sg-risk-grid, #sg-text {
        width: 80%;
    }

    .sg-topic{
        font-size: 1.3em;
    }

    .sg-risk-name, .sg-risk-num, .risk-up-age, #sg-text {
        font-size: 1em;
    }

    .sg-risk-pic {
        width: auto;
        height: 100%;
    }

    #best-age, #curr-age-text{
        font-size: 1em;
    }

    .conclusion-text, .conclusion-text-2 {
        font-size: 1.2em;
    }

    #legend {
        font-size: 1em;
        margin-left: 10%;
    }

    #next-button {
        font-size: 1.3em;
        width: 50%;
    }

    .ft-1 {
        font-size: 0.7em;
    }

    .footer-2 {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
    }

    .logo-grid {
        max-height: 100px;
    }
}

@media only screen and (min-width: 1024px) {
    .arrow-frame{
        width: 15%
    }

    .step-topic{
        width: 70%;
    }

    .topic, #remark, #remark-2{
        width: 70%;
    }

    .result-block {
        width: 70%;
    }

    .conclusion, .sg-topic, .sg-risk-grid, #sg-text {
        width: 70%;
    }

    .sg-topic{
        font-size: 1.5em;
    }

    .sg-risk-name, .sg-risk-num, .risk-up-age, #sg-text {
        font-size: 1.2em;
    }

    #best-age, #curr-age-text{
        font-size: 1.2em;
    }

    #legend {
        margin-left: 15%;
    }

    #next-button {
        font-size: 1.5em;
        width: 50%;
    }

    .footer-2{
        flex: 1;
        padding-left: 30px;
    }

    .ft-1 {
        font-size: 0.8em;
    }
}