h1,h2,h3,h4,p{
    margin: 0px;
}

body,.start-button, .answer-number::placeholder {
    font-family: 'IBM Plex Sans Thai';
    text-align: center;
}

.header {
    display: flex;
    width: 100%;
    height: 120px;
    margin-top: 20px;
}

.arrow-frame {
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 60px;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    
}

#arrow-circle {
    margin: 0 auto;
    text-align: center;
}

.arrow {
    display: flex;
    font-size: 2em;
    box-sizing: border-box;
    background-color: #2F6690;
    border: solid #2F6690;
    border-radius: 50%;
    aspect-ratio: 1;
    min-width: 60px;
    max-width: 60px;
    color: white;
    justify-content: center;
    align-items: center;
    text-decoration: none; 
    cursor: pointer;
}

#previous {
    margin: 3% auto;
    text-align: center;
    font-weight: 600;
}

.step-topic{
    display: grid;
    width: 80%;
    grid-template-columns: 25% 25% 25% 25%;
    box-sizing: border-box;
}

.topic-circle {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.topic-circle + .topic-circle:after{
    content: "";
    background: #6D6D6D;
    width: 100%;
    height: 4px;
    transform: translateX(-50%) translateY(-500%);
    z-index: -10;
    box-sizing: border-box;
}

.circle {
    display: flex;
    border: solid #6D6D6D;
    border-radius: 50%;
    box-sizing: border-box;
    min-width: 40px;
    max-width: 40px;
    aspect-ratio: 1;
    margin-bottom: 0px;
    background-color: white;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.topic-list {
    font-size: 0.8em;
    font-weight: 600;
    box-sizing: border-box;
}

#current {
    border: solid #2F6690;
    color: #2F6690;
}

.topic {
    display: flex;
    font-size: 2em;
    font-weight: 700;
    text-align: left;
    align-items: end;
    color: #2F6690;
    height: 100px;
    border-bottom: solid #2F6690 5px;
    width: 90%;
    margin: 20px auto;
}

.warning {
    display: flex;
    text-align: left;
    align-items: center;
    font-size: 0.8em;
    font-weight: 500;
    color: #D84727;
    background-color: #FFE4E1;
    height: 35px;
    width: 90%;
    margin: 20px auto;
}

.main-content {
    display: flex;
    box-sizing: border-box;
    width: 90%;
    height: auto;
    margin: 20px auto;
}

.input-side {
    display: grid;
    grid-template-columns: 100%;
    width: 50%;
    box-sizing: border-box;
}

.question {
    display: flex;
    width: 100%;
    height: 55px;
    font-size: 1em;
    font-weight: 600;
    text-align: left;
    align-items: end;
    color: #067AD3;
    margin: auto;
    box-sizing: border-box;
}

#female {
    margin-right: 7px;
}

.answer {
    display: flex;
    box-sizing: border-box;
    font-size: 1em;
    font-weight: 400;
    color: #6D6D6D;
    align-items: center;
}

.answer-number {
    display: flex;
    box-sizing: border-box;
    width: 70%;
    height: 2em;
    margin-right: 10px;
    border: solid #E6E6E6;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    text-align: center;
}

.answer-number::placeholder{
    font-size: 1em;
    font-weight: 400;
}

#range-warning{
    content: "";
    visibility: hidden;
    font-size: 0.8em;
    width: 50%;
    min-width: 120px;
    background-color: red;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: relative;
    left: 25%;
    bottom: 580%;
    z-index: 1;
    opacity: 0.7;
}

#range-warning::before {
    content: "";
    position: relative;
    top: 107%;
    left: 20%;
    border-width: 5px;
    border-style: solid;
    border-color: red transparent transparent transparent;
}

.result-side {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 50%;
    background-color: #E6E6E6;
    margin-top: 20px;
    margin-left: 5px;
    align-items: center;
}

.result-topic {
    font-size: 0.8em;
    font-weight: 600;
    margin-top: 5px;
    color: #2F6690;
    align-items: center;
}

.result-text {
    font-size: 0.8em;
    font-weight: 500;
    width: 80%;
    border: solid #6D6D6D;
    border-radius: 5px;
    align-items: center;
    text-align: center;
}

.meaning-frame {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    margin-top: 5px;
    align-items: center;
}

.meaning-pic {
    width: 70%;
    max-width: 100px;
    box-sizing: border-box;
}

#img {
    position: relative;
    width: 100%;
}

.meaning-text-frame {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 90%;
    word-wrap: break-word;
}

.meaning-text {
    display: flex;
    font-size: 0.8em;
    font-weight: 400;
    margin-top: 5px;
    text-align: left;
    text-indent: 1em;
}

.row-button {
    display: flex;
    width: 100%;
    text-decoration: none;
}

.start-button {
    font-weight: 500;
    font-size: 1em;
    background-color: #067AD3;
    box-sizing: border-box;
    color: white;
    border: solid #067AD3;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    width: 50%;
    height: 60px;
    margin: 3% auto 3%;
    align-items: center;
}

.footer {
    display: flex;
    background:#DEF5FF;
    width: 100%;
    height: 200px;
    margin-top: 20px;
}

.footer-1 {
    width: 40%;
    height : 200px;
    box-sizing: border-box;
}

.text-footer {
    width: 100%;
    height : 100px;
    box-sizing: border-box;
}

.ft-1 {
    font-weight: 400;
    color: #2F6690;
    font-size: 0.4em;
    text-align: left;
    padding-top: 5px;
    padding-left: 5px;
}

.footer-2 {
    display: grid;
    grid-template-columns: 30% 30% 30% ;
    box-sizing: border-box;
    height: 100%;
    width: 60%;
    aspect-ratio: 5;
    align-items: center;
    justify-content: center;
}

.logo-grid {
    display: flex;
    max-height: 100px;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.logo {
    width: 80%;
}

@media only screen and (max-width: 320px) {
    .start-button {
        font-size: 1em;
        width: 50%;
    }

    .footer-1 {
        width: 80%;
    }
}

@media only screen and (min-width: 320px) {
    .start-button {
        font-size: 1em;
        width: 40%;
    }

    .footer-1 {
        width: 30%;
    }

    .ft-1 {
        font-size: 0.6em;
    }
}

@media only screen and (min-width: 720px) {
    .topic-list {
        font-size: 1em;
    }

    .input-side {
        grid-template-columns: 30% 70%;
        width: 50%;
    }

    .question {
        height: 80px;
        font-size: 1.2em;
        text-align: right;
        align-items: center;
    }

    #female {
        margin-right: 10px;
    }    

    .answer {
        font-size: 1.2em;
        font-weight: 400;
        align-items: center;
    }
    
    .answer-number {
        width: 70%;
        margin-right: 10px;
        line-height: 2em;
    }
    
    .answer-number::placeholder{
        font-size: 1.2em;
        font-weight: 400;
        padding: 0 auto;
    }

    #range-warning{
        font-size: 0.9em;
        width: 70%;
        min-width: 150px;
        left: 180%;
        bottom: 560%;
    }
    
    #range-warning::before {
        content: "";
        position: relative;
        top: 110%;
        left: 20%;
        border-width: 8px;
    }

    .topic{
        width: 70%;
    }

    .warning{
        width: 70%;
        font-size: 1.2em;
    }

    .result-topic {
        font-size: 1.2em;
    }

    .result-text {
        font-size: 1em;
    }

    .meaning-frame {
        flex-direction: row;
    }

    .meaning-text {
        font-size: 1em;
        margin-right: 5px;
    }

    .meaning-pic {
        max-width: 200px;
    }

    .start-button {
        font-size: 1.3em;
        width: 30%;
    }

    .ft-1 {
        font-size: 0.7em;
    }
}

@media only screen and (min-width: 1024px) {
    .main-content {
        width: 70%;
    }

    .topic{
        width: 70%;
    }

    .warning{
        width: 70%;
        font-size: 1.2em;
    }

    .start-button {
        font-size: 1.5em;
        width: 20%;
    }

    .ft-1 {
        font-size: 1em;
    }

    .footer-2 {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
    }

    .logo-grid {
        max-height: 200px;
    }
}